$ease: cubic-bezier(0.215, 0.61, 0.355, 1);
$transition-slow: all 600ms ease-in-out 0s;
$transition-normal: all 350ms $ease 0s;
$box-shadow-strong: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .125), 0 4px 8px rgba(0, 0, 0, .15), 0 8px 16px rgba(0, 0, 0, .175), 0 16px 32px rgba(0, 0, 0, .2);

$breakpoint-mobile: 560px;
$breakpoint-tablet: 920px;
